## **Importações**

In [ ]:
pip install pandera

Collecting pandera
  Downloading pandera-0.9.0-py3-none-any.whl (197 kB)
     |████████████████████████████████| 197 kB 10.4 MB/s
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (3.10.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.21.5)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.3.5)
Collecting pydantic
  Downloading pydantic-1.9.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.9 MB)
     |████████████████████████████████| 10.9 MB 59.1 MB/s
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (6.0.1)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.13.3)
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.7.1-py3-none-any.whl (8.4 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.7)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Installing collected packages: mypy-extensions, typing-inspect, pydantic, pandera
Successfully installed mypy-extensions-0.4.3 pandera-0.9.0 pydantic-1.9.0 typing-inspect-0.7.1

In [ ]:
import pandas as pd
import pandera as pa

## **Pandas**

### Obtendo o Dataset

In [ ]:
#lendo o dataset
df = pd.read_csv("https://storage.googleapis.com/projeto_soulcode/dados_brutos/Campanha%20de%20marketing.csv",sep=",")

In [ ]:
#Visualizar todas as colunas
pd.set_option('display.max_columns', None)

In [ ]:
#exibindo as primeiras colunas para primeiras impressões 
df.head(5)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0

In [ ]:
#olhando o nome das colunas
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [ ]:
#verificando o tipo dos dados 


df.dtypes       #Education, marital status, dt_Custumer = Object        income = Float   else: int

ID                       int64
Year_Birth               int64
Education               object
Marital_Status          object
Income                 float64
Kidhome                  int64
Teenhome                 int64
Dt_Customer             object
Recency                  int64
MntWines                 int64
MntFruits                int64
MntMeatProducts          int64
MntFishProducts          int64
MntSweetProducts         int64
MntGoldProds             int64
NumDealsPurchases        int64
NumWebPurchases          int64
NumCatalogPurchases      int64
NumStorePurchases        int64
NumWebVisitsMonth        int64
AcceptedCmp3             int64
AcceptedCmp4             int64
AcceptedCmp5             int64
AcceptedCmp1             int64
AcceptedCmp2             int64
Complain                 int64
Z_CostContact            int64
Z_Revenue                int64
Response                 int64
dtype: object

### Copia, verificação de nulos e colunas para drop

In [ ]:
#fazendo copia de securança


df2 = df.copy()

In [ ]:
#verificando valores nulos 


df2.isna().sum()
df2.isnull().sum()

#income: 24 else: 0

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

**Como só a uma coluna com valores NA deixei para fazer a Nivel Spark**

In [ ]:
#verificando dados de colunas especificas para o drop
#Nenhuma informação que considerei util apenas 0 e 1

#sorted(pd.unique(df2['AcceptedCmp3']))
#sorted(pd.unique(df2['AcceptedCmp1']))
#sorted(pd.unique(df2['AcceptedCmp2']))
#sorted(pd.unique(df2['AcceptedCmp4']))
#sorted(pd.unique(df2['AcceptedCmp5']))
#sorted(pd.unique(df2['Complain']))
#sorted(pd.unique(df2['Z_CostContact']))
sorted(pd.unique(df2['Response']))

[0, 1]

### Dropando as colunas, renomeando as colunas (deixei uns erros para o Spark),alterando a estrutura da coluna de data, Traduzindo as colunas e informações para PT-BR

In [ ]:
#Dropando colunas com informações numericas unicas ou totalmente iguais

df2.drop(['AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1','AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],axis=1, inplace=True)

In [ ]:
#Renomear colunas
(df2.rename(columns={"Year_Birth":"ano_nascimento","Education":"educacao","Marital_Status":"status_matrimonial","Income":"renda","Kidhome":"criança_em_casa","Teenhome":"adolecente_em_casa",
                    "Dt_Customer":"Data_compra","Recency":"recentimente",'MntWines':'vinhos', 'MntFruits':"frutas",'MntMeatProducts':"carne", 'MntFishProducts':"peixe", 'MntSweetProducts':"doces",
                    'MntGoldProds':"produtos_ouro", 'NumDealsPurchases':"ofertas_compras", 'NumWebPurchases':"compras_online",'NumCatalogPurchases':"compras_catalogo", 'NumStorePurchases':"compras_lojas", 
                    'NumWebVisitsMonth':"visitas_web",
       },inplace=True))

In [ ]:
#Verificando conteudo que deva ser alterado



#sorted(pd.unique(df2['ano_nascimento']))                         #apenas anos, mais velho nascido em 1893, mas novo em 1996
#sorted(pd.unique(df2['educacao']))                               # Traduzir os poucos nomes
#sorted(pd.unique(df2['status_matrimonial']))                     # Traduzir
#sorted(pd.unique(df2['renda']))                                  #apenas sálarios, mas com 24 na
#sorted(pd.unique(df2['criança_em_casa']))                        #maximo 2
#sorted(pd.unique(df2['adolecente_em_casa']))                     #maximo 2
#sorted(pd.unique(df2['Data_compra']))                            #alterar tipo para data será feito em spark
#sorted(pd.unique(df2['recentimente']))                           #normal
#sorted(pd.unique(df2['vinhos']))                                 #normal
#sorted(pd.unique(df2['frutas']))                                 #normal
#sorted(pd.unique(df2['carne']))                                  #normal
#sorted(pd.unique(df2['peixe']))                                  #normal
#sorted(pd.unique(df2['doces']))                                  #normal 
#sorted(pd.unique(df2['produtos_ouro']))                          #normal
#sorted(pd.unique(df2['numeros_de_compras']))                     #normal
#sorted(pd.unique(df2['compras_online']))                         #normal
#sorted(pd.unique(df2['compras_catalogo']))                       #normal
#sorted(pd.unique(df2['compras_lojas']))                          #normal
sorted(pd.unique(df2['visitas_web']))                             #normal

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 17, 19, 20]

In [ ]:
#renomear nomes de educação

df2.replace(['2n Cycle'],'2 grau',inplace=True)
df2.replace(['Graduation'],'Formado',inplace=True)
df2.replace(['Master'],'Mestrado',inplace=True)
df2.replace(['Basic'],'Basico',inplace=True)

In [ ]:
#conferindo se deu certo
sorted(pd.unique(df2['educacao']))

['2 grau', 'Basico', 'Formado', 'Mestrado', 'PhD']

In [ ]:
#Usarei somente os estados civis brasileiros, olha ndo apenas aos olhos da lei brasileira

df2.replace(['Absurd'],'Solteiro',inplace=True)
df2.replace(['Alone'],'Solteiro',inplace=True)
df2.replace(['Divorced'],'Divorciado',inplace=True)
df2.replace(['Single'],'Solteiro',inplace=True)
df2.replace(['Together'],'União Estável',inplace=True)
df2.replace(['Widow'],'Viuvo',inplace=True)
df2.replace(['YOLO'],'Solteiro',inplace=True)
df2.replace(['Married'],'Casado',inplace=True)

In [ ]:
#verificando alteração
sorted(pd.unique(df2['status_matrimonial']))

['Casado', 'Divorciado', 'Solteiro', 'União Estável', 'Viuvo']

In [ ]:
#visualizando após a limpeza
df2.head(20)                        #apenas a renda possui valores nulos

,ID,ano_nascimento,educacao,status_matrimonial,renda,criança_em_casa,adolecente_em_casa,Data_compra,recentimente,vinhos,frutas,carne,peixe,doces,produtos_ouro,ofertas_compras,compras_online,compras_catalogo,compras_lojas,visitas_web
0,5524,1957,Formado,Solteiro,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7
1,2174,1954,Formado,Solteiro,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5
2,4141,1965,Formado,União Estável,71613.0,0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4
3,6182,1984,Formado,União Estável,26646.0,1,0,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6
4,5324,1981,PhD,Casado,58293.0,1,0,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5
5,7446,1967,Mestrado,União Estável,62513.0,0,1,09-09-2013,16,520,42,98,0,42,14,2,6,4,10,6
6,965,1971,Formado,Divorciado,55635.0,0,1,13-11-2012,34,235,65,164,50,49,27,4,7,3,7,6
7,6177,1985,PhD,Casado,33454.0,1,0,08-05-2013,32,76,10,56,3,1,23,2,4,0,4,8
8,4855,1974,PhD,União Estável,30351.0,1,0,06-06-2013,19,14,0,24,3,3,2,1,3,0,2,9
9,5899,1950,PhD,União Estável,5648.0,1,1,13-03-2014,68,28,0,6,1,1,13,1,1,0,0,20
10,1994,1983,Formado,Casado,NaN,1,0,15-11-2013,11,5,5,6,0,2,1,1,1,0,2,7
11,387,1976,Basico,Casado,7500.0,0,0,13-11-2012,59,6,16,11,11,1,16,1,2,0,3,8
12,2125,1959,Formado,Divorciado,63033.0,0,0,15-11-2013,82,194,61,480,225,112,30,1,3,4,8,2
13,8180,1952,Mestrado,Divorciado,59354.0,1,1,15-11-2013,53,233,2,53,3,5,14,3,6,1,5,6
14,2569,1987,Formado,Casado,17323.0,0,0,10-10-2012,38,3,14,17,6,1,5,1,1,0,3,8
15,2114,1946,PhD,Solteiro,82800.0,0,0,24-11-2012,23,1006,22,115,59,68,45,1,7,6,12,3
16,9736,1980,Formado,Casado,41850.0,1,1,24-12-2012,51,53,5,19,2,13,4,3,3,0,3,8
17,4939,1946,Formado,União Estável,37760.0,0,0,31-08-2012,20,84,5,38,150,12,28,2,4,1,6,7
18,6565,1949,Mestrado,Casado,76995.0,0,1,28-03-2013,91,1012,80,498,0,16,176,2,11,4,9,5
19,2278,1985,2 grau,Solteiro,33812.0,1,0,03-11-2012,86,4,17,19,30,24,39,2,2,1,3,6

In [ ]:
# Convertendo String para Date e as informações de produto para valor float porque se trata de dinheiro
df2['Data_compra'] = pd.to_datetime(df2['Data_compra'])
df2['vinhos'] = df2['vinhos'].astype(float)
df2['frutas'] = df2['frutas'].astype(float)
df2['carne'] = df2['carne'].astype(float)
df2['peixe'] = df2['peixe'].astype(float)
df2['doces'] = df2['doces'].astype(float)
df2['produtos_ouro'] = df2['produtos_ouro'].astype(float)

## **Pyspark**

### Importações

In [ ]:
pip install pyspark

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [ ]:
spark = (SparkSession.builder
        .master("local") 
        .appName("campanha_marketing") 
        .config('spark.ui.port', '4050')
        .getOrCreate()) 
spark

### Montando a estrutura

In [ ]:
#definindo o schema
esquema = (
    StructType([
        StructField("ID",IntegerType(), True),
        StructField("ano_nascimento", StringType(), True),
        StructField("educacao", StringType(), True),
        StructField("status_matrimonial", StringType(), False),
        StructField("renda", FloatType(), True),
        StructField("criança_em_casa", IntegerType(), True),
        StructField("adolecente_em_casa", IntegerType(), True),
        StructField("Data_compra", DateType(), True),
        StructField("recentimente", IntegerType(), True),
        StructField("vinhos", FloatType(), True),
        StructField("frutas", FloatType(), True),
        StructField("carne",  FloatType(), True),
        StructField("peixe", FloatType(), True),
        StructField("doces", FloatType(), True),
        StructField("produtos_ouro", FloatType(), True),
        StructField("numeros_de_compras", IntegerType(), True),
        StructField("compras_online", IntegerType(), True),
        StructField("compras_catalogo", IntegerType(), True),
        StructField("compras_lojas", IntegerType(), True),
        StructField("visitas_web", IntegerType(), True)
    ])
)

In [ ]:
#criando o DataFrame
df_spark = spark.createDataFrame(data=df2,schema=esquema)

In [ ]:
#Conferindo o Schema
df_spark.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- ano_nascimento: string (nullable = true)
 |-- educacao: string (nullable = true)
 |-- status_matrimonial: string (nullable = false)
 |-- renda: float (nullable = true)
 |-- criança_em_casa: integer (nullable = true)
 |-- adolecente_em_casa: integer (nullable = true)
 |-- Data_compra: date (nullable = true)
 |-- recentimente: integer (nullable = true)
 |-- vinhos: float (nullable = true)
 |-- frutas: float (nullable = true)
 |-- carne: float (nullable = true)
 |-- peixe: float (nullable = true)
 |-- doces: float (nullable = true)
 |-- produtos_ouro: float (nullable = true)
 |-- numeros_de_compras: integer (nullable = true)
 |-- compras_online: integer (nullable = true)
 |-- compras_catalogo: integer (nullable = true)
 |-- compras_lojas: integer (nullable = true)
 |-- visitas_web: integer (nullable = true)

In [ ]:
#Exibindo o DataFrame 
df_spark.show(5)

+----+--------------+--------+------------------+-------+---------------+------------------+-----------+------------+------+------+-----+-----+-----+-------------+------------------+--------------+----------------+-------------+-----------+
|  ID|ano_nascimento|educacao|status_matrimonial|  renda|criança_em_casa|adolecente_em_casa|Data_compra|recentimente|vinhos|frutas|carne|peixe|doces|produtos_ouro|numeros_de_compras|compras_online|compras_catalogo|compras_lojas|visitas_web|
+----+--------------+--------+------------------+-------+---------------+------------------+-----------+------------+------+------+-----+-----+-----+-------------+------------------+--------------+----------------+-------------+-----------+
|5524|          1957| Formado|          Solteiro|58138.0|              0|                 0| 2012-04-09|          58| 635.0|  88.0|546.0|172.0| 88.0|         88.0|                 3|             8|              10|            4|          7|
|2174|          1954| Formado|          Solteiro|46344.0|              1|                 1| 2014-08-03|          38|  11.0|   1.0|  6.0|  2.0|  1.0|          6.0|                 2|             1|               1|            2|          5|
|4141|          1965| Formado|     União Estável|71613.0|              0|                 0| 2013-08-21|          26| 426.0|  49.0|127.0|111.0| 21.0|         42.0|                 1|             8|               2|           10|          4|
|6182|          1984| Formado|     União Estável|26646.0|              1|                 0| 2014-10-02|          26|  11.0|   4.0| 20.0| 10.0|  3.0|          5.0|                 2|             2|               0|            4|          6|
|5324|          1981|     PhD|            Casado|58293.0|              1|                 0| 2014-01-19|          94| 173.0|  43.0|118.0| 46.0| 27.0|         15.0|                 5|             5|               3|            6|          5|
+----+--------------+--------+------------------+-------+---------------+------------------+-----------+------------+------+------+-----+-----+-----+-------------+------------------+--------------+----------------+-------------+-----------+
only showing top 5 rows

### Renomear colunas

In [ ]:
#Renomeando uma coluna -  deixei com erro pra renomear aqui
df_spark = df_spark.withColumnRenamed("recentimente", "recentemente")
df_spark = df_spark.withColumnRenamed("status_matrimonial", "estado_civil")
df_spark = df_spark.withColumnRenamed("numeros_de_compras", "ofertas_compras")
df_spark = df_spark.withColumnRenamed("produtos_ouro", "produtos_premium")

### Tratando as Inconsistências

In [ ]:
#localizando Inconsistências 
df_spark.toPandas().isna().sum()

ID                     0
ano_nascimento         0
educacao               0
estado_civil           0
renda                 24
criança_em_casa        0
adolecente_em_casa     0
Data_compra            0
recentemente           0
vinhos                 0
frutas                 0
carne                  0
peixe                  0
doces                  0
produtos_premium       0
ofertas_compras        0
compras_online         0
compras_catalogo       0
compras_lojas          0
visitas_web            0
dtype: int64

In [ ]:
#Tratando as Inconsistências  
# Como os NA representam aproximadamente de 1% do total, resolvi zerar... 
df_spark=df_spark.na.fill(0)

In [ ]:
#verificando depois se a mudança foi feita
df_spark.toPandas().isna().sum()

ID                    0
ano_nascimento        0
educacao              0
estado_civil          0
renda                 0
criança_em_casa       0
adolecente_em_casa    0
Data_compra           0
recentemente          0
vinhos                0
frutas                0
carne                 0
peixe                 0
doces                 0
produtos_premium      0
ofertas_compras       0
compras_online        0
compras_catalogo      0
compras_lojas         0
visitas_web           0
dtype: int64

In [ ]:
#Revisualizando
df_spark.show(40)

+-----+--------------+--------+-------------+-------+---------------+------------------+-----------+------------+------+------+------+-----+-----+----------------+---------------+--------------+----------------+-------------+-----------+
|   ID|ano_nascimento|educacao| estado_civil|  renda|criança_em_casa|adolecente_em_casa|Data_compra|recentemente|vinhos|frutas| carne|peixe|doces|produtos_premium|ofertas_compras|compras_online|compras_catalogo|compras_lojas|visitas_web|
+-----+--------------+--------+-------------+-------+---------------+------------------+-----------+------------+------+------+------+-----+-----+----------------+---------------+--------------+----------------+-------------+-----------+
| 5524|          1957| Formado|     Solteiro|58138.0|              0|                 0| 2012-04-09|          58| 635.0|  88.0| 546.0|172.0| 88.0|            88.0|              3|             8|              10|            4|          7|
| 2174|          1954| Formado|     Solteiro|46344.0|              1|                 1| 2014-08-03|          38|  11.0|   1.0|   6.0|  2.0|  1.0|             6.0|              2|             1|               1|            2|          5|
| 4141|          1965| Formado|União Estável|71613.0|              0|                 0| 2013-08-21|          26| 426.0|  49.0| 127.0|111.0| 21.0|            42.0|              1|             8|               2|           10|          4|
| 6182|          1984| Formado|União Estável|26646.0|              1|                 0| 2014-10-02|          26|  11.0|   4.0|  20.0| 10.0|  3.0|             5.0|              2|             2|               0|            4|          6|
| 5324|          1981|     PhD|       Casado|58293.0|              1|                 0| 2014-01-19|          94| 173.0|  43.0| 118.0| 46.0| 27.0|            15.0|              5|             5|               3|            6|          5|
| 7446|          1967|Mestrado|União Estável|62513.0|              0|                 1| 2013-09-09|          16| 520.0|  42.0|  98.0|  0.0| 42.0|            14.0|              2|             6|               4|           10|          6|
|  965|          1971| Formado|   Divorciado|55635.0|              0|                 1| 2012-11-13|          34| 235.0|  65.0| 164.0| 50.0| 49.0|            27.0|              4|             7|               3|            7|          6|
| 6177|          1985|     PhD|       Casado|33454.0|              1|                 0| 2013-08-05|          32|  76.0|  10.0|  56.0|  3.0|  1.0|            23.0|              2|             4|               0|            4|          8|
| 4855|          1974|     PhD|União Estável|30351.0|              1|                 0| 2013-06-06|          19|  14.0|   0.0|  24.0|  3.0|  3.0|             2.0|              1|             3|               0|            2|          9|
| 5899|          1950|     PhD|União Estável| 5648.0|              1|                 1| 2014-03-13|          68|  28.0|   0.0|   6.0|  1.0|  1.0|            13.0|              1|             1|               0|            0|         20|
| 1994|          1983| Formado|       Casado|    0.0|              1|                 0| 2013-11-15|          11|   5.0|   5.0|   6.0|  0.0|  2.0|             1.0|              1|             1|               0|            2|          7|
|  387|          1976|  Basico|       Casado| 7500.0|              0|                 0| 2012-11-13|          59|   6.0|  16.0|  11.0| 11.0|  1.0|            16.0|              1|             2|               0|            3|          8|
| 2125|          1959| Formado|   Divorciado|63033.0|              0|                 0| 2013-11-15|          82| 194.0|  61.0| 480.0|225.0|112.0|            30.0|              1|             3|               4|            8|          2|
| 8180|          1952|Mestrado|   Divorciado|59354.0|              1|                 1| 2013-11-15|          53| 233.0|   2.0|  53.0|  3.0|  5.0|            14.0|              3|             6|               1|            5|          6|
| 2569|          1987| Formado|       Casado|17323.0|              0|                 0| 2012-10-10|          38|   3.0|  14.0|  17.0|  6.0|  1.0|             5.0|              1|             1|               0|            3|          8|
| 2114|          1946|     PhD|     Solteiro|82800.0|              0|                 0| 2012-11-24|          23|1006.0|  22.0| 115.0| 59.0| 68.0|            45.0|              1|             7|               6|           12|          3|
| 9736|          1980| Formado|       Casado|41850.0|              1|                 1| 2012-12-24|          51|  53.0|   5.0|  19.0|  2.0| 13.0|             4.0|              3|             3|               0|            3|          8|
| 4939|          1946| Formado|União Estável|37760.0|              0|                 0| 2012-08-31|          20|  84.0|   5.0|  38.0|150.0| 12.0|            28.0|              2|             4|               1|            6|          7|
| 6565|          1949|Mestrado|       Casado|76995.0|              0|                 1| 2013-03-28|          91|1012.0|  80.0| 498.0|  0.0| 16.0|           176.0|              2|            11|               4|            9|          5|
| 2278|          1985|  2 grau|     Solteiro|33812.0|              1|                 0| 2012-03-11|          86|   4.0|  17.0|  19.0| 30.0| 24.0|            39.0|              2|             2|               1|            3|          6|
| 9360|          1982| Formado|       Casado|37040.0|              0|                 0| 2012-08-08|          41|  86.0|   2.0|  73.0| 69.0| 38.0|            48.0|              1|             4|               2|            5|          8|
| 5376|          1979| Formado|       Casado| 2447.0|              1|                 0| 2013-06-01|          42|   1.0|   1.0|1725.0|  1.0|  1.0|             1.0|             15|             0|              28|            0|          1|
| 1993|          1949|     PhD|       Casado|58607.0|              0|                 1| 2012-12-23|          63| 867.0|   0.0|  86.0|  0.0|  0.0|            19.0|              3|             2|               3|            9|          8|
| 4047|          1954|     PhD|       Casado|65324.0|              0|                 1| 2014-11-01|           0| 384.0|   0.0| 102.0| 21.0| 32.0|             5.0|              3|             6|               2|            9|          4|
| 1409|          1951| Formado|União Estável|40689.0|              0|                 1| 2013-03-18|          69| 270.0|   3.0|  27.0| 39.0|  6.0|            99.0|              7|             7|               1|            5|          8|
| 7892|          1969| Formado|     Solteiro|18589.0|              0|                 0| 2013-02-01|          89|   6.0|   4.0|  25.0| 15.0| 12.0|            13.0|              2|             2|               1|            3|          7|
| 2404|          1976| Formado|       Casado|53359.0|              1|                 1| 2013-05-27|           4| 173.0|   4.0|  30.0|  3.0|  6.0|            41.0|              4|             5|               1|            4|          7|
| 5255|          1986| Formado|     Solteiro|    0.0|              1|                 0| 2013-02-20|          19|   5.0|   1.0|   3.0|  3.0|263.0|           362.0|              0|            27|               0|            0|          1|
| 9422|          1989| Formado|       Casado|38360.0|              1|                 0| 2013-05-31|          26|  36.0|   2.0|  42.0| 20.0| 21.0|            10.0|              2|             2|               1|            4|          3|
| 1966|          1965|     PhD|       Casado|84618.0|              0|                 0| 2013-11-22|          96| 684.0| 100.0| 801.0| 21.0| 66.0|             0.0|              1|             6|               9|           10|          2|
| 6864|          1989|Mestrado|   Divorciado|10979.0|              0|                 0| 2014-05-22|          34|   8.0|   4.0|  10.0|  2.0|  2.0|             4.0|              2|             3|               0|            3|          5|
| 3033|          1963|Mestrado|União Estável|38620.0|              0|                 0| 2013-11-05|          56| 112.0|  17.0|  44.0| 34.0| 22.0|            89.0|              1|             2|               5|            3|          3|
| 5710|          1970| Formado|União Estável|40548.0|              0|                 1| 2012-10-10|          31| 110.0|   0.0|   5.0|  2.0|  0.0|             3.0|              2|             2|               1|            4|          5|
| 7373|          1952|     PhD|   Divorciado|46610.0|              0|                 2| 2012-10-29|           8|  96.0|  12.0|  96.0| 33.0| 22.0|            43.0|              6|             4|               1|            6|          6|
| 8755|          1946|Mestrado|       Casado|68657.0|              0|                 0| 2013-02-20|           4| 482.0|  34.0| 471.0|119.0| 68.0|            22.0|              1|             3|               5|            9|          7|
|10738|          1951|Mestrado|     Solteiro|49389.0|              1|                 1| 2013-08-29|          55|  40.0|   0.0|  19.0|  2.0|  1.0|             3.0|              1|             2|               0|            3|          7|
| 4339|          1970|     PhD|       Casado|67353.0|              0|                 1| 2013-12-31|          37| 702.0|  17.0| 151.0|  0.0|  8.0|            35.0|              5|             5|               6|           12|          2|
|10755|          1976|  2 grau|       Casado|23718.0|              1|                 0| 2013-02-09|          76|   6.0|   3.0|  14.0| 15.0|  7.0|            36.0|              3|             3|               1|            2|          7|
| 8595|          1973| Formado|        Viuvo|42429.0|              0|                 1| 2014-11-02|          99|  55.0|   0.0|   6.0|  2.0|  0.0|             4.0|              2|             1|               1|            3|          5|
| 2968|          1943|     PhD|   Divorciado|48948.0|              0|                 0| 2013-01-02|          53| 437.0|   8.0| 206.0|160.0| 49.0|            42.0|              2|             7|              10|            5|          6|
+-----+--------------+--------+-------------+-------+---------------+------------------+-----------+------------+------+------+------+-----+-----+----------------+---------------+--------------+----------------+-------------+-----------+
only showing top 40 rows

### Criando novas colunas

In [ ]:
df_spark.show(5)

+----+--------------+--------+-------------+-------+---------------+------------------+-----------+------------+------+------+-----+-----+-----+----------------+---------------+--------------+----------------+-------------+-----------+
|  ID|ano_nascimento|educacao| estado_civil|  renda|criança_em_casa|adolecente_em_casa|Data_compra|recentemente|vinhos|frutas|carne|peixe|doces|produtos_premium|ofertas_compras|compras_online|compras_catalogo|compras_lojas|visitas_web|
+----+--------------+--------+-------------+-------+---------------+------------------+-----------+------------+------+------+-----+-----+-----+----------------+---------------+--------------+----------------+-------------+-----------+
|5524|          1957| Formado|     Solteiro|58138.0|              0|                 0| 2012-04-09|          58| 635.0|  88.0|546.0|172.0| 88.0|            88.0|              3|             8|              10|            4|          7|
|2174|          1954| Formado|     Solteiro|46344.0|              1|                 1| 2014-08-03|          38|  11.0|   1.0|  6.0|  2.0|  1.0|             6.0|              2|             1|               1|            2|          5|
|4141|          1965| Formado|União Estável|71613.0|              0|                 0| 2013-08-21|          26| 426.0|  49.0|127.0|111.0| 21.0|            42.0|              1|             8|               2|           10|          4|
|6182|          1984| Formado|União Estável|26646.0|              1|                 0| 2014-10-02|          26|  11.0|   4.0| 20.0| 10.0|  3.0|             5.0|              2|             2|               0|            4|          6|
|5324|          1981|     PhD|       Casado|58293.0|              1|                 0| 2014-01-19|          94| 173.0|  43.0|118.0| 46.0| 27.0|            15.0|              5|             5|               3|            6|          5|
+----+--------------+--------+-------------+-------+---------------+------------------+-----------+------------+------+------+-----+-----+-----+----------------+---------------+--------------+----------------+-------------+-----------+
only showing top 5 rows

In [ ]:
#nova coluna total de compras
df_spark=df_spark.withColumn("total_compras",F.col('ofertas_compras') + F.col('compras_online') + F.col('compras_catalogo') + F.col('compras_lojas'))

In [ ]:
#nova coluna produtos valor
df_spark=df_spark.withColumn("produtos_valor",F.col('vinhos') + F.col('frutas') + F.col('peixe') + F.col('carne') + F.col('doces') + F.col('produtos_premium'))

In [ ]:
#nova coluna dependentes
df_spark=df_spark.withColumn("dependentes",F.col('criança_em_casa') + F.col('adolecente_em_casa'))

In [ ]:
#nova coluna média de compras
df_spark=df_spark.withColumn("media_compras",F.col('total_compras') / 4)

### Filtros e window function

**Combos de bebidas com carne aumentariam ainda mais as vendas**

In [ ]:
#filtro para compras acima de 5000 em valor - resultando que apenas duas pessoas com nivel escolar baixo conseguem comprar mais de 1000 $
df_spark.filter("vinhos > 1000").orderBy("educacao").show(40)

+-----+--------------+--------+-------------+--------+---------------+------------------+-----------+------------+------+------+-----+-----+-----+----------------+---------------+--------------+----------------+-------------+-----------+-------------+--------------+-----------+-------------+
|   ID|ano_nascimento|educacao| estado_civil|   renda|criança_em_casa|adolecente_em_casa|Data_compra|recentemente|vinhos|frutas|carne|peixe|doces|produtos_premium|ofertas_compras|compras_online|compras_catalogo|compras_lojas|visitas_web|total_compras|produtos_valor|dependentes|media_compras|
+-----+--------------+--------+-------------+--------+---------------+------------------+-----------+------------+------+------+-----+-----+-----+----------------+---------------+--------------+----------------+-------------+-----------+-------------+--------------+-----------+-------------+
| 2223|          1965|  2 grau|   Divorciado| 64176.0|              0|                 1| 2012-03-08|          52|1215.0|  33.0|249.0| 64.0|116.0|           149.0|              8|             8|               9|            8|          6|           33|        1826.0|          1|         8.25|
| 6050|          1975|  2 grau|       Casado| 57036.0|              0|                 1| 2012-11-12|          33|1171.0|  43.0|219.0| 19.0| 14.0|            47.0|              4|             6|               3|           13|          9|           26|        1513.0|          1|          6.5|
| 2176|          1972| Formado|       Casado| 80134.0|              1|                 0| 2013-05-20|          40|1218.0|  16.0|272.0|104.0|  0.0|            80.0|              2|             5|               3|            6|          6|           16|        1690.0|          1|          4.0|
| 7503|          1976| Formado|     Solteiro| 75825.0|              0|                 0| 2012-12-10|          40|1032.0| 105.0|779.0|137.0|105.0|            51.0|              0|             5|               8|            9|          4|           22|        2209.0|          0|          5.5|
| 4910|          1967| Formado|   Divorciado| 68743.0|              0|                 0| 2012-08-30|          81|1132.0| 134.0|384.0|175.0|134.0|           115.0|              1|            11|               5|           13|          7|           30|        2074.0|          0|          7.5|
| 4943|          1953| Formado|       Casado| 70503.0|              0|                 0| 2012-09-30|          73|1379.0|  33.0|216.0|  0.0| 33.0|            66.0|              1|             2|               4|            9|          6|           16|        1727.0|          0|          4.0|
| 3422|          1975| Formado|       Casado| 76068.0|              0|                 1| 2012-11-29|          67|1115.0|  12.0|128.0| 33.0| 12.0|            76.0|              1|             2|               3|            4|          6|           10|        1376.0|          1|          2.5|
| 3174|          1959| Formado|União Estável| 87771.0|              0|                 1| 2013-05-22|          61|1492.0|  38.0|287.0| 50.0| 57.0|            33.0|              1|             5|              10|            4|          6|           20|        1957.0|          1|          5.0|
| 5386|          1953| Formado|União Estável| 94384.0|              0|                 0| 2013-04-03|          62|1111.0|  24.0|790.0|160.0| 45.0|           172.0|              0|             5|               8|            5|          2|           18|        2302.0|          0|          4.5|
| 4611|          1970| Formado|União Estável|105471.0|              0|                 0| 2013-01-21|          36|1009.0| 181.0|104.0|202.0| 21.0|           207.0|              0|             9|               8|           13|          3|           30|        1724.0|          0|          7.5|
|10319|          1971| Formado|       Casado| 66303.0|              0|                 1| 2013-02-26|          56|1090.0|  12.0| 96.0| 16.0| 12.0|            60.0|              4|             3|               4|           11|          8|           22|        1286.0|          1|          5.5|
|10430|          1973| Formado|   Divorciado| 89694.0|              1|                 1| 2013-09-10|          22|1126.0|  28.0|211.0| 37.0| 28.0|            42.0|              3|             4|               3|            4|          5|           14|        1472.0|          2|          3.5|
| 3483|          1958| Formado|       Casado| 48192.0|              0|                 0| 2013-06-04|          76|1039.0|  43.0|204.0|153.0| 58.0|            29.0|              3|             2|               8|           12|          8|           25|        1526.0|          0|         6.25|
| 5536|          1959| Formado|União Estável| 87771.0|              0|                 1| 2013-05-22|          61|1492.0|  38.0|287.0| 50.0| 57.0|            33.0|              1|             5|              10|            4|          6|           20|        1957.0|          1|          5.0|
|  477|          1986| Formado|       Casado| 83512.0|              0|                 0| 2014-06-17|          31|1060.0|  61.0|835.0| 80.0| 20.0|           101.0|              1|             4|               7|           10|          1|           22|        2157.0|          0|          5.5|
| 9499|          1954| Formado|       Casado| 93404.0|              1|                 2| 2013-07-05|          97|1279.0|  15.0|287.0| 20.0|  0.0|            15.0|              3|             3|               4|            7|          5|           17|        1616.0|          3|         4.25|
| 4580|          1969| Formado|       Casado| 75759.0|              0|                 0| 2013-10-25|          46|1394.0|  22.0|708.0| 89.0| 91.0|           182.0|              1|             9|               7|            9|          5|           26|        2486.0|          0|          6.5|
| 9058|          1955| Formado|        Viuvo| 79800.0|              0|                 0| 2012-09-23|          65|1060.0|  21.0|530.0| 32.0|  0.0|           224.0|              1|             5|              11|            5|          3|           22|        1867.0|          0|          5.5|
|  380|          1954| Formado|   Divorciado| 64497.0|              0|                 1| 2012-10-09|          17|1170.0|  48.0|320.0| 42.0| 32.0|           192.0|              5|            11|               4|            9|          8|           29|        1804.0|          1|         7.25|
| 6421|          1961| Formado|União Estável| 88347.0|              0|                 0| 2013-03-07|          32|1050.0| 178.0|555.0| 77.0|138.0|           118.0|              1|             4|               7|            9|          1|           21|        2116.0|          0|         5.25|
| 4356|          1971| Formado|União Estável| 71819.0|              0|                 1| 2013-08-28|          70|1224.0|  28.0|140.0|  0.0| 14.0|           168.0|              3|             3|               3|            5|          6|           14|        1574.0|          1|          3.5|
| 2894|          1985| Formado|     Solteiro| 72903.0|              0|                 0| 2013-10-29|          74|1067.0| 138.0|750.0|  0.0| 19.0|            39.0|              1|             7|               5|            8|          4|           21|        2013.0|          0|         5.25|
| 6024|          1953| Formado|União Estável| 94384.0|              0|                 0| 2013-04-03|          62|1111.0|  24.0|790.0|160.0| 45.0|           172.0|              0|             5|               8|            5|          2|           18|        2302.0|          0|          4.5|
| 5758|          1982| Formado|       Casado| 65169.0|              0|                 0| 2014-01-14|          23|1074.0|   0.0| 69.0|  0.0|  0.0|            46.0|              1|            10|               4|           13|          6|           28|        1189.0|          0|          7.0|
| 9121|          1972| Formado|       Casado| 80134.0|              1|                 0| 2013-05-20|          40|1218.0|  16.0|272.0|104.0|  0.0|            80.0|              2|             5|               3|            6|          6|           16|        1690.0|          1|          4.0|
|10133|          1970| Formado|     Solteiro| 93790.0|              0|                 0| 2014-12-02|          16|1302.0|  68.0|731.0| 89.0|114.0|            45.0|              0|             6|               7|           12|          2|           25|        2349.0|          0|         6.25|
| 9743|          1955| Formado|       Casado| 76998.0|              0|                 1| 2013-11-01|          85|1449.0|  89.0|161.0| 69.0| 35.0|           107.0|              2|            11|               8|            8|          6|           29|        1910.0|          1|         7.25|
| 1763|          1988| Formado|União Estável| 87679.0|              0|                 0| 2013-07-27|          62|1259.0| 172.0|815.0| 97.0|148.0|            33.0|              1|             7|              11|           10|          4|           29|        2524.0|          0|         7.25|
| 2781|          1981| Formado|     Solteiro| 72066.0|              0|                 0| 2014-06-23|          55|1003.0|  34.0|536.0|134.0| 51.0|            34.0|              1|             4|               6|            6|          2|           17|        1792.0|          0|         4.25|
|10092|          1954| Formado|   Divorciado| 70044.0|              0|                 1| 2013-02-18|          46|1073.0|   0.0|250.0|153.0| 14.0|            14.0|              4|             7|              10|            5|          5|           26|        1504.0|          1|          6.5|
| 6977|          1974| Formado|União Estável| 75702.0|              0|                 1| 2012-10-14|          87|1073.0|   0.0|629.0|145.0| 37.0|            37.0|              1|            10|               5|           13|          6|           29|        1921.0|          1|         7.25|
| 3426|          1975| Formado|   Divorciado| 70300.0|              1|                 0| 2013-07-15|          89|1045.0|  61.0|338.0| 60.0| 46.0|            46.0|              3|             5|               5|           13|          8|           26|        1596.0|          1|          6.5|
| 5831|          1967| Formado|       Casado| 77870.0|              0|                 1| 2012-08-22|          93|1017.0|  50.0|500.0| 65.0| 50.0|           133.0|              3|             5|               5|            5|          8|           18|        1815.0|          1|          4.5|
| 3138|          1956| Formado|     Solteiro| 91249.0|              0|                 0| 2012-10-20|          84|1324.0|  27.0|119.0| 71.0|108.0|            27.0|              0|             7|               9|            6|          4|           22|        1676.0|          0|          5.5|
|10164|          1958| Formado|     Solteiro| 94472.0|              0|                 1| 2014-03-04|          75|1017.0|  33.0|417.0|108.0|100.0|            16.0|              1|             5|               5|            5|          5|           16|        1691.0|          1|          4.0|
| 8545|          1954| Formado|   Divorciado| 85683.0|              0|                 0| 2014-03-21|           6|1296.0|  17.0|311.0| 45.0| 69.0|            51.0|              1|             2|               4|           10|          1|           17|        1789.0|          0|         4.25|
| 5236|          1979| Formado|União Estável| 77568.0|              0|                 1| 2012-08-25|          30|1230.0|   0.0|396.0|232.0|178.0|           158.0|              1|            10|               2|            8|          5|           21|        2194.0|          1|         5.25|
| 4299|          1960| Formado|União Estável| 70971.0|              0|                 1| 2012-09-21|          28|1001.0|  17.0|572.0| 93.0|125.0|            17.0|              7|            11|              11|            5|          7|           34|        1825.0|          1|          8.5|
| 6565|          1949|Mestrado|       Casado| 76995.0|              0|                 1| 2013-03-28|          91|1012.0|  80.0|498.0|  0.0| 16.0|           176.0|              2|            11|               4|            9|          5|           26|        1782.0|          1|          6.5|
| 1103|          1976|Mestrado|       Casado| 81929.0|              1|                 0| 2012-09-29|          60|1486.0|  55.0|278.0| 49.0|  0.0|           185.0|              2|             4|               4|           10|          6|           20|        2053.0|          1|          5.0|
+-----+--------------+--------+-------------+--------+---------------+------------------+-----------+------------+------+------+-----+-----+-----+----------------+---------------+--------------+----------------+-------------+-----------+-------------+--------------+-----------+-------------+
only showing top 40 rows

In [ ]:
#filtro o que os solteiros mais compram como também os que mais acessarqam e fizeram compras pelos
df_spark.filter("estado_civil = 'Solteiro' or visitas_web > 8 or compras_online > 10 ").orderBy("educacao").show(50)

+-----+--------------+--------+-------------+-------+---------------+------------------+-----------+------------+------+------+-----+-----+-----+----------------+---------------+--------------+----------------+-------------+-----------+-------------+--------------+-----------+-------------+
|   ID|ano_nascimento|educacao| estado_civil|  renda|criança_em_casa|adolecente_em_casa|Data_compra|recentemente|vinhos|frutas|carne|peixe|doces|produtos_premium|ofertas_compras|compras_online|compras_catalogo|compras_lojas|visitas_web|total_compras|produtos_valor|dependentes|media_compras|
+-----+--------------+--------+-------------+-------+---------------+------------------+-----------+------------+------+------+-----+-----+-----+----------------+---------------+--------------+----------------+-------------+-----------+-------------+--------------+-----------+-------------+
| 9612|          1987|  2 grau|     Solteiro|23830.0|              0|                 0| 2014-07-02|           3|   1.0|   8.0|  6.0|  4.0|  8.0|            16.0|              1|             1|               0|            3|          7|            5|          43.0|          0|         1.25|
| 9909|          1996|  2 grau|       Casado| 7500.0|              0|                 0| 2012-09-11|          24|   3.0|  18.0| 14.0| 15.0| 22.0|            50.0|              3|             3|               1|            3|          9|           10|         122.0|          0|          2.5|
| 8181|          1978|  2 grau|     Solteiro|38593.0|              1|                 0| 2013-09-13|          42|  51.0|  12.0| 49.0| 17.0| 24.0|            24.0|              3|             4|               1|            3|          8|           11|         177.0|          1|         2.75|
| 4947|          1966|  2 grau|     Solteiro|89572.0|              0|                 0| 2012-09-15|          44| 606.0|  24.0|974.0|197.0|194.0|            64.0|              1|             7|               7|            9|          4|           24|        2059.0|          0|          6.0|
|10708|          1978|  2 grau|     Solteiro|36975.0|              1|                 0| 2013-12-28|          50|  10.0|   6.0| 11.0|  0.0|  4.0|             2.0|              1|             1|               0|            3|          7|            5|          33.0|          1|         1.25|
| 7264|          1978|  2 grau|     Solteiro|52195.0|              2|                 1| 2014-12-05|           2|  12.0|   0.0|  4.0|  0.0|  0.0|             1.0|              1|             1|               0|            2|          8|            4|          17.0|          3|          1.0|
| 4376|          1960|  2 grau|     Solteiro|32218.0|              0|                 0| 2014-02-15|          27|  10.0|  24.0| 15.0| 13.0|  1.0|            30.0|              1|             2|               1|            3|          7|            7|          93.0|          0|         1.75|
| 7301|          1982|  2 grau|     Solteiro|23616.0|              1|                 0| 2012-11-17|          76|   4.0|  22.0| 11.0|  3.0|  7.0|            32.0|              2|             3|               0|            3|          8|            8|          79.0|          1|          2.0|
| 2278|          1985|  2 grau|     Solteiro|33812.0|              1|                 0| 2012-03-11|          86|   4.0|  17.0| 19.0| 30.0| 24.0|            39.0|              2|             2|               1|            3|          6|            8|         133.0|          1|          2.0|
| 4279|          1963|  2 grau|     Solteiro|39548.0|              1|                 1| 2014-03-31|          87|  15.0|   4.0| 10.0|  3.0|  4.0|            18.0|              2|             1|               1|            3|          3|            7|          54.0|          2|         1.75|
|  367|          1978|  2 grau|       Casado|36550.0|              1|                 0| 2013-02-19|          74|  47.0|  90.0| 94.0|123.0|103.0|           120.0|              5|             9|               1|            5|          9|           20|         577.0|          1|          5.0|
|11004|          1893|  2 grau|     Solteiro|60182.0|              0|                 1| 2014-05-17|          23|   8.0|   0.0|  5.0|  7.0|  0.0|             2.0|              1|             1|               0|            2|          4|            4|          22.0|          1|          1.0|
| 8779|          1985|  2 grau|       Casado|36145.0|              1|                 0| 2013-06-16|          13|  56.0|   4.0| 76.0| 17.0|  1.0|            18.0|              4|             4|               1|            3|          9|           12|         172.0|          1|          3.0|
|  796|          1965|  2 grau|   Divorciado|60161.0|              0|                 1| 2012-10-23|          17| 584.0|  44.0|212.0| 46.0|  8.0|           177.0|              3|            11|               4|            8|          8|           26|        1071.0|          1|          6.5|
|10856|          1980|  2 grau|     Solteiro|45889.0|              0|                 1| 2013-02-07|          42|  31.0|   0.0|  6.0|  0.0|  1.0|             8.0|              1|             1|               0|            3|          6|            5|          46.0|          1|         1.25|
|10343|          1991|  2 grau|     Solteiro|61618.0|              0|                 0| 2012-09-29|          27| 605.0|  91.0|399.0|  0.0| 45.0|           205.0|              2|             3|               6|            8|          3|           19|        1345.0|          0|         4.75|
| 4120|          1975|  2 grau|     Solteiro|49514.0|              1|                 0| 2013-12-17|          61|  88.0|  39.0| 78.0| 58.0| 13.0|            93.0|              2|             6|               1|            4|          7|           13|         369.0|          1|         3.25|
|  738|          1981|  2 grau|     Solteiro|42395.0|              1|                 1| 2014-04-04|          35|  48.0|  13.0| 57.0| 24.0| 15.0|            25.0|              4|             3|               1|            4|          7|           12|         182.0|          2|          3.0|
| 3270|          1978|  2 grau|União Estável|17117.0|              1|                 0| 2013-01-17|          96|  12.0|  23.0| 38.0| 30.0| 18.0|             7.0|              4|             3|               1|            3|          9|           11|         128.0|          1|         2.75|
| 2625|          1954|  2 grau|     Solteiro|42607.0|              0|                 1| 2013-11-17|          30| 156.0|  29.0| 56.0| 30.0| 32.0|            47.0|              2|             3|               2|            7|          3|           14|         350.0|          1|          3.5|
| 3139|          1982|  2 grau|     Solteiro|74116.0|              0|                 0| 2013-12-30|          53| 871.0| 111.0|704.0|145.0| 55.0|           166.0|              1|             4|               4|           10|          2|           19|        2052.0|          0|         4.75|
| 8957|          1952|  2 grau|     Solteiro|64831.0|              1|                 1| 2013-10-06|          51| 480.0|  86.0|249.0| 75.0| 86.0|           144.0|              8|             6|               3|            5|          6|           22|        1120.0|          2|          5.5|
| 1473|          1960|  2 grau|     Solteiro|47823.0|              0|                 1| 2013-07-23|           0|  53.0|   1.0|  5.0|  2.0|  1.0|            10.0|              2|             2|               0|            3|          8|            7|          72.0|          1|         1.75|
|10245|          1986|  2 grau|     Solteiro|80910.0|              0|                 0| 2012-10-31|          71| 160.0|  80.0|369.0| 67.0| 39.0|            41.0|              1|             3|               3|            8|          1|           15|         756.0|          0|         3.75|
| 1524|          1983|  2 grau|     Solteiro|81698.0|              0|                 0| 2013-01-03|           1| 709.0|  45.0|115.0| 30.0|160.0|            45.0|              1|             8|               2|            5|          5|           16|        1104.0|          0|          4.0|
| 2320|          1978|  2 grau|       Casado|47025.0|              0|                 1| 2013-12-09|          98| 508.0|  11.0| 59.0| 23.0|  5.0|            29.0|              5|            11|               1|            6|          9|           23|         635.0|          1|         5.75|
| 9400|          1958|  2 grau|     Solteiro|85485.0|              0|                 0| 2014-06-21|          73| 630.0|  26.0|611.0| 44.0| 18.0|            54.0|              1|             6|               6|            6|          2|           19|        1383.0|          0|         4.75|
| 4345|          1964|  2 grau|     Solteiro|    0.0|              1|                 1| 2014-12-01|          49|   5.0|   1.0|  9.0|  2.0|  0.0|             4.0|              1|             1|               0|            2|          7|            4|          21.0|          2|          1.0|
| 5289|          1975|  2 grau|     Solteiro|41658.0|              1|                 1| 2012-09-11|          30|   8.0|   4.0| 12.0| 15.0|  4.0|            29.0|              2|             1|               1|            2|          4|            6|          72.0|          2|          1.5|
| 7000|          1972|  2 grau|     Solteiro|65704.0|              0|                 0| 2013-10-13|          18| 279.0| 172.0| 74.0| 38.0|  8.0|           246.0|              1|             2|              10|           10|          1|           23|         817.0|          0|         5.75|
| 8418|          1958|  2 grau|     Solteiro|38741.0|              1|                 1| 2014-03-30|          60|   7.0|  10.0| 17.0|  8.0|  6.0|            13.0|              2|             2|               0|            3|          7|            7|          61.0|          2|         1.75|
| 7706|          1975|  2 grau|União Estável|46772.0|              0|                 1| 2012-07-11|          88| 350.0| 104.0|189.0|197.0|151.0|            57.0|              6|            11|               8|            5|          8|           30|        1048.0|          1|          7.5|
| 6050|          1975|  2 grau|       Casado|57036.0|              0|                 1| 2012-11-12|          33|1171.0|  43.0|219.0| 19.0| 14.0|            47.0|              4|             6|               3|           13|          9|           26|        1513.0|          1|          6.5|
| 9771|          1988|  2 grau|     Solteiro|23331.0|              1|                 0| 2012-05-10|          97| 104.0|  20.0|101.0| 24.0| 15.0|             5.0|              6|             5|               1|            5|          9|           17|         269.0|          1|         4.25|
| 4656|          1990|  2 grau|     Solteiro|51250.0|              1|                 0| 2013-03-30|          28| 342.0|  32.0|230.0| 34.0| 32.0|            40.0|              5|            10|               5|            4|          9|           24|         710.0|          1|          6.0|
| 1773|          1978|  2 grau|       Casado|12393.0|              0|                 0| 2012-04-12|          38|   5.0|   6.0| 15.0| 11.0|  7.0|            13.0|              1|             2|               0|            3|          9|            6|          57.0|          0|          1.5|
| 6437|          1985|  2 grau|     Solteiro|41473.0|              1|                 0| 2013-06-19|          80|  21.0|   8.0| 20.0| 15.0|  3.0|             9.0|              1|             2|               0|            3|          7|            6|          76.0|          1|          1.5|
|10398|          1981|  2 grau|     Solteiro|24336.0|              1|                 0| 2012-08-27|          82|   1.0|   6.0|  2.0|  8.0|  2.0|            12.0|              1|             1|               0|            2|          7|            4|          31.0|          1|          1.0|
| 2499|          1958|  2 grau|     Solteiro|75342.0|              0|                 1| 2013-06-05|          38| 204.0|  97.0| 97.0| 21.0|118.0|            26.0|              1|             5|               2|           10|          4|           18|         563.0|          1|          4.5|
| 3878|          1980|  2 grau|     Solteiro|31859.0|              1|                 0| 2014-02-27|           3|   3.0|   4.0|  7.0| 15.0|  8.0|            11.0|              1|             1|               0|            3|          7|            5|          48.0|          1|         1.25|
| 4427|          1995|  2 grau|     Solteiro|83257.0|              0|                 0| 2012-09-18|          56| 536.0|  27.0|590.0| 38.0|107.0|            67.0|              1|             5|              10|           12|          6|           28|        1365.0|          0|          7.0|
| 2546|          1977|  2 grau|     Solteiro|31878.0|              0|                 1| 2014-06-22|           7|  23.0|   4.0|  5.0| 10.0|  5.0|            23.0|              1|             1|               0|            4|          3|            6|          70.0|          1|          1.5|
|  176|          1980|  2 grau|     Solteiro|67506.0|              0|                 1| 2014-02-01|          73|  90.0|  38.0| 67.0| 33.0| 36.0|            67.0|              1|             4|               1|            6|          3|           12|         331.0|          1|          3.0|
|10001|          1985|  2 grau|União Estável| 7500.0|              1|                 0| 2012-01-08|          98|   5.0|  17.0| 17.0| 13.0| 14.0|            34.0|              4|             2|               1|            3|          9|           10|         100.0|          1|          2.5|
| 1241|          1984|  2 grau|       Casado|14796.0|              1|                 0| 2012-09-17|           1|  13.0|   3.0|  8.0|  7.0|  4.0|            16.0|              2|             1|               0|            3|          9|            6|          51.0|          1|          1.5|
| 3968|          1970|  2 grau|   Divorciado|65706.0|              0|                 0| 2013-06-28|          77| 918.0|  10.0|129.0| 13.0|  0.0|           129.0|              1|            11|               3|           12|          7|           27|        1199.0|          0|         6.75|
| 3661|          1995|  2 grau|     Solteiro|80617.0|              0|                 0| 2012-12-10|          42| 594.0|  51.0|631.0| 72.0| 55.0|            32.0|              1|             4|               6|            8|          2|           19|        1435.0|          0|         4.75|
| 9305|          1976|  2 grau|     Solteiro|79689.0|              0|                 0| 2013-12-05|          65| 311.0|  26.0|640.0|180.0| 37.0|           121.0|              1|             4|               9|           13|          2|           27|        1315.0|          0|         6.75|
| 9369|          1979|  2 grau|     Solteiro|88194.0|              0|                 1| 2014-03-19|          19| 688.0|  14.0|309.0|201.0| 24.0|            38.0|              1|            11|              10|           10|          5|           32|        1274.0|          1|          8.0|
| 4136|          1992|  Basico|     Solteiro| 7500.0|              1|                 0| 2012-03-12|          63|  10.0|  17.0| 18.0|  8.0| 26.0|            40.0|              4|             3|               2|            2|          9|           11|         119.0|          1|         2.75|
+-----+--------------+--------+-------------+-------+---------------+------------------+-----------+------------+------+------+-----+-----+-----+----------------+---------------+--------------+----------------+-------------+-----------+-------------+--------------+-----------+-------------+
only showing top 50 rows

In [ ]:
# as compras de bebidas reduz de acordo com o tamanho de dependente, da mesma forma produtos alcoolicos são os mais comprados de cada grupo seguido pela carne
Compras_produtos = df_spark.groupBy(F.col("dependentes")).agg(F.sum("vinhos"),F.sum("frutas"),F.sum("carne"),F.sum("peixe"),F.sum("doces"),F.sum("produtos_premium")).orderBy('dependentes').show()
Compras_produtos

In [ ]:
#Criando a partição
wf0 = Window.partitionBy(F.col('educacao')).orderBy('renda')

In [ ]:
#Ranking baseado na Educação e ordenado pela renda
df_spark.withColumn('Ranking', F.rank().over(wf0)).show()

+-----+--------------+--------+-------------+-------+---------------+------------------+-----------+------------+------+------+------+-----+-----+----------------+---------------+--------------+----------------+-------------+-----------+-------------+--------------+-----------+-------------+-------+
|   ID|ano_nascimento|educacao| estado_civil|  renda|criança_em_casa|adolecente_em_casa|Data_compra|recentemente|vinhos|frutas| carne|peixe|doces|produtos_premium|ofertas_compras|compras_online|compras_catalogo|compras_lojas|visitas_web|total_compras|produtos_valor|dependentes|media_compras|Ranking|
+-----+--------------+--------+-------------+-------+---------------+------------------+-----------+------------+------+------+------+-----+-----+----------------+---------------+--------------+----------------+-------------+-----------+-------------+--------------+-----------+-------------+-------+
|10629|          1973|  2 grau|       Casado|    0.0|              1|                 0| 2012-09-14|          25|  25.0|   3.0|  43.0| 17.0|  4.0|            17.0|              3|             3|               0|            3|          8|            9|         109.0|          1|         2.25|      1|
| 4345|          1964|  2 grau|     Solteiro|    0.0|              1|                 1| 2014-12-01|          49|   5.0|   1.0|   9.0|  2.0|  0.0|             4.0|              1|             1|               0|            2|          7|            4|          21.0|          2|          1.0|      1|
| 8720|          1978|  2 grau|União Estável|    0.0|              0|                 0| 2012-12-08|          53|  32.0|   2.0|1607.0| 12.0|  4.0|            22.0|              0|             0|               0|            1|          0|            1|        1679.0|          0|         0.25|      1|
| 9909|          1996|  2 grau|       Casado| 7500.0|              0|                 0| 2012-09-11|          24|   3.0|  18.0|  14.0| 15.0| 22.0|            50.0|              3|             3|               1|            3|          9|           10|         122.0|          0|          2.5|      4|
|  456|          1986|  2 grau|       Casado| 7500.0|              1|                 0| 2013-07-02|          96|   1.0|  11.0|   5.0|  4.0|  6.0|             9.0|              2|             2|               0|            3|          8|            7|          36.0|          1|         1.75|      4|
|10001|          1985|  2 grau|União Estável| 7500.0|              1|                 0| 2012-01-08|          98|   5.0|  17.0|  17.0| 13.0| 14.0|            34.0|              4|             2|               1|            3|          9|           10|         100.0|          1|          2.5|      4|
|10659|          1979|  2 grau|União Estável| 7500.0|              1|                 0| 2013-07-05|           7|   2.0|   8.0|  11.0|  3.0|  8.0|            21.0|              4|             3|               2|            2|          7|           11|          53.0|          1|         2.75|      4|
| 5987|          1989|  2 grau|União Estável|10404.0|              1|                 0| 2014-04-05|          52|   2.0|   2.0|  11.0| 10.0|  6.0|            12.0|              2|             1|               0|            4|          5|            7|          43.0|          1|         1.75|      8|
|10241|          1975|  2 grau|   Divorciado|11448.0|              0|                 0| 2013-12-15|          16|   0.0|   0.0|   0.0|  6.0|  2.0|             6.0|              1|             1|               0|            2|          6|            4|          14.0|          0|          1.0|      9|
| 1773|          1978|  2 grau|       Casado|12393.0|              0|                 0| 2012-04-12|          38|   5.0|   6.0|  15.0| 11.0|  7.0|            13.0|              1|             2|               0|            3|          9|            6|          57.0|          0|          1.5|     10|
| 8812|          1979|  2 grau|   Divorciado|13533.0|              1|                 0| 2013-10-03|          45|  12.0|   3.0|   8.0|  8.0|  0.0|            17.0|              2|             2|               0|            3|          7|            7|          48.0|          1|         1.75|     11|
| 8213|          1980|  2 grau|União Estável|14515.0|              1|                 0| 2012-09-11|          71|   6.0|   4.0|   9.0|  6.0| 36.0|            35.0|              4|             2|               2|            3|          7|           11|          96.0|          1|         2.75|     12|
| 1241|          1984|  2 grau|       Casado|14796.0|              1|                 0| 2012-09-17|           1|  13.0|   3.0|   8.0|  7.0|  4.0|            16.0|              2|             1|               0|            3|          9|            6|          51.0|          1|          1.5|     13|
| 8420|          1970|  2 grau|       Casado|15315.0|              0|                 0| 2013-03-08|          27|   7.0|   4.0|  13.0| 15.0|  8.0|            17.0|              2|             2|               0|            4|          5|            8|          64.0|          0|          2.0|     14|
|10065|          1970|  2 grau|       Casado|15315.0|              0|                 0| 2013-03-08|          27|   7.0|   4.0|  13.0| 15.0|  8.0|            17.0|              2|             2|               0|            4|          5|            8|          64.0|          0|          2.0|     14|
|10995|          1988|  2 grau|       Casado|15716.0|              1|                 0| 2012-12-11|           8|  16.0|   5.0|  30.0|  8.0|  7.0|            26.0|              3|             3|               0|            4|          8|           10|          92.0|          1|          2.5|     16|
| 3559|          1988|  2 grau|       Casado|16248.0|              1|                 0| 2014-10-05|          77|  12.0|  11.0|  10.0|  3.0| 12.0|             9.0|              3|             2|               1|            3|          6|            9|          57.0|          1|         2.25|     17|
| 7235|          1975|  2 grau|       Casado|17003.0|              1|                 0| 2013-09-12|          37|   2.0|   5.0|  12.0|  4.0|  8.0|             7.0|              3|             2|               0|            4|          5|            9|          38.0|          1|         2.25|     18|
| 3270|          1978|  2 grau|União Estável|17117.0|              1|                 0| 2013-01-17|          96|  12.0|  23.0|  38.0| 30.0| 18.0|             7.0|              4|             3|               1|            3|          9|           11|         128.0|          1|         2.75|     19|
| 3102|          1981|  2 grau|União Estável|19414.0|              1|                 0| 2013-10-16|          32|   2.0|   3.0|  12.0|  3.0|  5.0|             7.0|              1|             1|               0|            3|          8|            5|          32.0|          1|         1.25|     20|
+-----+--------------+--------+-------------+-------+---------------+------------------+-----------+------------+------+------+------+-----+-----+----------------+---------------+--------------+----------------+-------------+-----------+-------------+--------------+-----------+-------------+-------+
only showing top 20 rows

In [ ]:
#Retonar as linhas
df_spark.withColumn('n_linha', F.row_number().over(wf0)).show(50)

+-----+--------------+--------+-------------+-------+---------------+------------------+-----------+------------+------+------+------+-----+-----+----------------+---------------+--------------+----------------+-------------+-----------+-------------+--------------+-----------+-------------+-------+
|   ID|ano_nascimento|educacao| estado_civil|  renda|criança_em_casa|adolecente_em_casa|Data_compra|recentemente|vinhos|frutas| carne|peixe|doces|produtos_premium|ofertas_compras|compras_online|compras_catalogo|compras_lojas|visitas_web|total_compras|produtos_valor|dependentes|media_compras|n_linha|
+-----+--------------+--------+-------------+-------+---------------+------------------+-----------+------------+------+------+------+-----+-----+----------------+---------------+--------------+----------------+-------------+-----------+-------------+--------------+-----------+-------------+-------+
|10629|          1973|  2 grau|       Casado|    0.0|              1|                 0| 2012-09-14|          25|  25.0|   3.0|  43.0| 17.0|  4.0|            17.0|              3|             3|               0|            3|          8|            9|         109.0|          1|         2.25|      1|
| 4345|          1964|  2 grau|     Solteiro|    0.0|              1|                 1| 2014-12-01|          49|   5.0|   1.0|   9.0|  2.0|  0.0|             4.0|              1|             1|               0|            2|          7|            4|          21.0|          2|          1.0|      2|
| 8720|          1978|  2 grau|União Estável|    0.0|              0|                 0| 2012-12-08|          53|  32.0|   2.0|1607.0| 12.0|  4.0|            22.0|              0|             0|               0|            1|          0|            1|        1679.0|          0|         0.25|      3|
| 9909|          1996|  2 grau|       Casado| 7500.0|              0|                 0| 2012-09-11|          24|   3.0|  18.0|  14.0| 15.0| 22.0|            50.0|              3|             3|               1|            3|          9|           10|         122.0|          0|          2.5|      4|
|  456|          1986|  2 grau|       Casado| 7500.0|              1|                 0| 2013-07-02|          96|   1.0|  11.0|   5.0|  4.0|  6.0|             9.0|              2|             2|               0|            3|          8|            7|          36.0|          1|         1.75|      5|
|10001|          1985|  2 grau|União Estável| 7500.0|              1|                 0| 2012-01-08|          98|   5.0|  17.0|  17.0| 13.0| 14.0|            34.0|              4|             2|               1|            3|          9|           10|         100.0|          1|          2.5|      6|
|10659|          1979|  2 grau|União Estável| 7500.0|              1|                 0| 2013-07-05|           7|   2.0|   8.0|  11.0|  3.0|  8.0|            21.0|              4|             3|               2|            2|          7|           11|          53.0|          1|         2.75|      7|
| 5987|          1989|  2 grau|União Estável|10404.0|              1|                 0| 2014-04-05|          52|   2.0|   2.0|  11.0| 10.0|  6.0|            12.0|              2|             1|               0|            4|          5|            7|          43.0|          1|         1.75|      8|
|10241|          1975|  2 grau|   Divorciado|11448.0|              0|                 0| 2013-12-15|          16|   0.0|   0.0|   0.0|  6.0|  2.0|             6.0|              1|             1|               0|            2|          6|            4|          14.0|          0|          1.0|      9|
| 1773|          1978|  2 grau|       Casado|12393.0|              0|                 0| 2012-04-12|          38|   5.0|   6.0|  15.0| 11.0|  7.0|            13.0|              1|             2|               0|            3|          9|            6|          57.0|          0|          1.5|     10|
| 8812|          1979|  2 grau|   Divorciado|13533.0|              1|                 0| 2013-10-03|          45|  12.0|   3.0|   8.0|  8.0|  0.0|            17.0|              2|             2|               0|            3|          7|            7|          48.0|          1|         1.75|     11|
| 8213|          1980|  2 grau|União Estável|14515.0|              1|                 0| 2012-09-11|          71|   6.0|   4.0|   9.0|  6.0| 36.0|            35.0|              4|             2|               2|            3|          7|           11|          96.0|          1|         2.75|     12|
| 1241|          1984|  2 grau|       Casado|14796.0|              1|                 0| 2012-09-17|           1|  13.0|   3.0|   8.0|  7.0|  4.0|            16.0|              2|             1|               0|            3|          9|            6|          51.0|          1|          1.5|     13|
| 8420|          1970|  2 grau|       Casado|15315.0|              0|                 0| 2013-03-08|          27|   7.0|   4.0|  13.0| 15.0|  8.0|            17.0|              2|             2|               0|            4|          5|            8|          64.0|          0|          2.0|     14|
|10065|          1970|  2 grau|       Casado|15315.0|              0|                 0| 2013-03-08|          27|   7.0|   4.0|  13.0| 15.0|  8.0|            17.0|              2|             2|               0|            4|          5|            8|          64.0|          0|          2.0|     15|
|10995|          1988|  2 grau|       Casado|15716.0|              1|                 0| 2012-12-11|           8|  16.0|   5.0|  30.0|  8.0|  7.0|            26.0|              3|             3|               0|            4|          8|           10|          92.0|          1|          2.5|     16|
| 3559|          1988|  2 grau|       Casado|16248.0|              1|                 0| 2014-10-05|          77|  12.0|  11.0|  10.0|  3.0| 12.0|             9.0|              3|             2|               1|            3|          6|            9|          57.0|          1|         2.25|     17|
| 7235|          1975|  2 grau|       Casado|17003.0|              1|                 0| 2013-09-12|          37|   2.0|   5.0|  12.0|  4.0|  8.0|             7.0|              3|             2|               0|            4|          5|            9|          38.0|          1|         2.25|     18|
| 3270|          1978|  2 grau|União Estável|17117.0|              1|                 0| 2013-01-17|          96|  12.0|  23.0|  38.0| 30.0| 18.0|             7.0|              4|             3|               1|            3|          9|           11|         128.0|          1|         2.75|     19|
| 3102|          1981|  2 grau|União Estável|19414.0|              1|                 0| 2013-10-16|          32|   2.0|   3.0|  12.0|  3.0|  5.0|             7.0|              1|             1|               0|            3|          8|            5|          32.0|          1|         1.25|     20|
| 6504|          1975|  2 grau|União Estável|19789.0|              1|                 0| 2013-11-20|          24|   2.0|   5.0|   9.0| 28.0|  6.0|            28.0|              3|             2|               1|            3|          5|            9|          78.0|          1|         2.25|     21|
| 2106|          1974|  2 grau|       Casado|20130.0|              0|                 0| 2014-03-17|          99|   0.0|   6.0|   3.0|  7.0|  6.0|            12.0|              1|             1|               0|            3|          8|            5|          34.0|          0|         1.25|     22|
| 3363|          1974|  2 grau|       Casado|20130.0|              0|                 0| 2014-03-17|          99|   0.0|   6.0|   3.0|  7.0|  6.0|            12.0|              1|             1|               0|            3|          8|            5|          34.0|          0|         1.25|     23|
| 4712|          1991|  2 grau|União Estável|20193.0|              0|                 0| 2012-11-28|          18|   8.0|   8.0|  22.0| 24.0| 11.0|             9.0|              1|             1|               1|            4|          4|            7|          82.0|          0|         1.75|     24|
| 2518|          1986|  2 grau|União Estável|20491.0|              0|                 0| 2013-01-25|          16|   5.0|   4.0|   5.0|  4.0|  2.0|            10.0|              1|             0|               1|            2|          7|            4|          30.0|          0|          1.0|     25|
| 3865|          1977|  2 grau|União Estável|20981.0|              0|                 0| 2013-04-30|          14|   2.0|  12.0|  10.0|  6.0| 13.0|            30.0|              1|             3|               1|            2|          8|            7|          73.0|          0|         1.75|     26|
| 4066|          1978|  2 grau|   Divorciado|21282.0|              1|                 0| 2014-11-05|          76|   1.0|   5.0|   8.0|  4.0|  8.0|            20.0|              2|             2|               1|            2|          6|            7|          46.0|          1|         1.75|     27|
| 4328|          1986|  2 grau|       Casado|21955.0|              1|                 0| 2013-07-09|          81|   5.0|   1.0|   7.0| 17.0| 14.0|            11.0|              2|             2|               1|            3|          6|            8|          55.0|          1|          2.0|     28|
|   89|          1975|  2 grau|       Casado|22212.0|              1|                 0| 2013-09-12|          49|   5.0|   9.0|  20.0|  6.0|  8.0|            21.0|              2|             2|               0|            4|          6|            8|          69.0|          1|          2.0|     29|
| 1878|          1985|  2 grau|       Casado|23148.0|              0|                 0| 2014-02-18|          83|   4.0|   6.0|   8.0|  6.0|  3.0|            10.0|              1|             2|               0|            3|          7|            6|          37.0|          0|          1.5|     30|
| 9672|          1970|  2 grau|       Casado|23162.0|              1|                 1| 2013-12-21|          82|   8.0|   3.0|   9.0| 19.0|  4.0|            22.0|              3|             1|               1|            3|          6|            8|          65.0|          2|          2.0|     31|
| 3745|          1988|  2 grau|       Casado|23331.0|              1|                 0| 2012-04-09|          92|   5.0|  36.0|   7.0|  0.0| 10.0|            45.0|              2|             3|               0|            3|          8|            8|         103.0|          1|          2.0|     32|
| 9771|          1988|  2 grau|     Solteiro|23331.0|              1|                 0| 2012-05-10|          97| 104.0|  20.0| 101.0| 24.0| 15.0|             5.0|              6|             5|               1|            5|          9|           17|         269.0|          1|         4.25|     33|
| 5346|          1973|  2 grau|       Casado|23559.0|              1|                 0| 2013-03-07|          87|  25.0|   5.0|  19.0|  7.0|  0.0|            23.0|              3|             3|               0|            3|          7|            9|          79.0|          1|         2.25|     34|
| 7301|          1982|  2 grau|     Solteiro|23616.0|              1|                 0| 2012-11-17|          76|   4.0|  22.0|  11.0|  3.0|  7.0|            32.0|              2|             3|               0|            3|          8|            8|          79.0|          1|          2.0|     35|
|10755|          1976|  2 grau|       Casado|23718.0|              1|                 0| 2013-02-09|          76|   6.0|   3.0|  14.0| 15.0|  7.0|            36.0|              3|             3|               1|            2|          7|            9|          81.0|          1|         2.25|     36|
| 9612|          1987|  2 grau|     Solteiro|23830.0|              0|                 0| 2014-07-02|           3|   1.0|   8.0|   6.0|  4.0|  8.0|            16.0|              1|             1|               0|            3|          7|            5|          43.0|          0|         1.25|     37|
|10398|          1981|  2 grau|     Solteiro|24336.0|              1|                 0| 2012-08-27|          82|   1.0|   6.0|   2.0|  8.0|  2.0|            12.0|              1|             1|               0|            2|          7|            4|          31.0|          1|          1.0|     38|
| 8541|          1990|  2 grau|       Casado|24683.0|              1|                 0| 2014-08-03|          98|   8.0|   4.0|  10.0|  6.0|  7.0|             6.0|              2|             2|               0|            4|          5|            8|          41.0|          1|          2.0|     39|
| 9850|          1972|  2 grau|       Casado|24884.0|              1|                 0| 2012-11-29|          32|   3.0|   6.0|   7.0|  0.0|  0.0|             3.0|              1|             0|               0|            3|          7|            4|          19.0|          1|          1.0|     40|
|11003|          1980|  2 grau|União Estável|25130.0|              1|                 0| 2013-02-10|          10|   2.0|   5.0|   7.0|  0.0| 18.0|            18.0|              2|             2|               0|            3|          7|            7|          50.0|          1|         1.75|     41|
|10067|          1976|  2 grau|União Estável|25176.0|              1|                 1| 2013-10-08|          79|   4.0|   0.0|   4.0|  0.0|  0.0|             5.0|              1|             1|               0|            2|          7|            4|          13.0|          2|          1.0|     42|
| 3665|          1977|  2 grau|União Estável|25315.0|              1|                 0| 2013-07-11|          46|   1.0|   9.0|   8.0| 11.0|  3.0|            22.0|              3|             3|               0|            3|          8|            9|          54.0|          1|         2.25|     43|
| 7034|          1978|  2 grau|       Casado|25804.0|              1|                 0| 2013-01-09|          34|   8.0|   7.0|   9.0| 13.0|  6.0|            12.0|              2|             2|               0|            3|          8|            7|          55.0|          1|         1.75|     44|
| 5740|          1970|  2 grau|   Divorciado|25959.0|              1|                 1| 2013-02-14|           1|   4.0|   2.0|  12.0|  7.0|  5.0|            26.0|              2|             1|               2|            2|          6|            7|          56.0|          2|         1.75|     45|
| 6919|          1978|  2 grau|       Casado|26224.0|              1|                 0| 2013-04-06|          39|   4.0|   7.0|  15.0| 13.0|  9.0|            15.0|              3|             2|               1|            3|          6|            9|          63.0|          1|         2.25|     46|
|10401|          1976|  2 grau|União Estável|26326.0|              0|                 0| 2013-04-09|          12|   1.0|   0.0|   5.0|  0.0|  3.0|             9.0|              1|             0|               0|            3|          3|            4|          18.0|          0|          1.0|     47|
| 2227|          1958|  2 grau|União Estável|26490.0|              0|                 0| 2012-09-22|          92|  45.0|  47.0|  52.0| 21.0| 20.0|            25.0|              2|             3|               1|            5|          6|           11|         210.0|          0|         2.75|     48|
|  946|          1958|  2 grau|União Estável|26490.0|              0|                 0| 2012-09-22|          92|  45.0|  47.0|  52.0| 21.0| 20.0|            25.0|              2|             3|               1|            5|          6|           11|         210.0|          0|         2.75|     49|
| 8036|          1971|  2 grau|União Estável|26850.0|              1|                 1| 2014-04-18|          10|  31.0|   1.0|  13.0|  7.0|  2.0|             9.0|              4|             2|               1|            4|          4|           11|          63.0|          2|         2.75|     50|
+-----+--------------+--------+-------------+-------+---------------+------------------+-----------+------------+------+------+------+-----+-----+----------------+---------------+--------------+----------------+-------------+-----------+-------------+--------------+-----------+-------------+-------+
only showing top 50 rows

## **SparkSQL**

In [ ]:
#Criando a tabela que será utilizada pelo SQL
df_spark.createOrReplaceTempView('campanha')

In [ ]:
#Consulta 1

# A Função select nesse caso retorna que os que fazem mais compras preferem realizar las pelo catalogo atraves do catalogo
spark.sql('SELECT compras_lojas,compras_catalogo,ofertas_compras,compras_online,total_compras from campanha ORDER BY total_compras desc').show()

+-------------+----------------+---------------+--------------+-------------+
|compras_lojas|compras_catalogo|ofertas_compras|compras_online|total_compras|
+-------------+----------------+---------------+--------------+-------------+
|            1|              28|             15|             0|           44|
|            0|              28|             15|             0|           43|
|            9|               6|             15|             9|           39|
|            0|              22|             15|             0|           37|
|           12|               9|              3|            11|           35|
|           11|              10|              2|            11|           34|
|           11|              10|              2|            11|           34|
|           13|               9|              4|             8|           34|
|            5|              11|              7|            11|           34|
|            9|               5|             11|             8|           33|
|           13|              10|              4|             6|           33|
|           12|               2|             13|             6|           33|
|            8|               9|              8|             8|           33|
|           11|              11|              1|             9|           32|
|           10|              10|              1|            11|           32|
|           12|               6|              5|             9|           32|
|           12|               6|              5|             9|           32|
|            9|               2|             13|             8|           32|
|           10|               7|              5|            10|           32|
|            9|               4|             12|             7|           32|
+-------------+----------------+---------------+--------------+-------------+
only showing top 20 rows

In [ ]:
#Consulta 2

# Comparação das vendas Online X Compras em lojas fisicas por valor total - Demonstra que compras maiores ainda continuam sendo feitas de maneira presencial
spark.sql('SELECT compras_online,compras_lojas,produtos_valor FROM campanha ORDER BY produtos_valor desc').show(10)

+--------------+-------------+--------------+
|compras_online|compras_lojas|produtos_valor|
+--------------+-------------+--------------+
|             3|           10|        2525.0|
|             3|           10|        2525.0|
|             7|           10|        2524.0|
|             9|            9|        2486.0|
|             7|            9|        2440.0|
|             4|           12|        2352.0|
|             6|           12|        2349.0|
|             5|           10|        2346.0|
|             5|            5|        2302.0|
|             5|            5|        2302.0|
+--------------+-------------+--------------+
only showing top 10 rows

In [ ]:
#Consulta 3

# os que não tem filhos são os que mais gastam
df_spark.select(F.col("dependentes"),F.col("recentemente"),F.col("produtos_valor")).orderBy(F.desc("produtos_valor")).show(10)

+-----------+------------+--------------+
|dependentes|recentemente|produtos_valor|
+-----------+------------+--------------+
|          0|          29|        2525.0|
|          0|          29|        2525.0|
|          0|          62|        2524.0|
|          0|          46|        2486.0|
|          0|          82|        2440.0|
|          0|          26|        2352.0|
|          0|          16|        2349.0|
|          0|          80|        2346.0|
|          0|          62|        2302.0|
|          0|          62|        2302.0|
+-----------+------------+--------------+
only showing top 10 rows

In [ ]:
#Consulta 4

#Perfil dos que mais realizam compras
spark.sql('SELECT ano_nascimento,educacao,estado_civil,renda,dependentes,total_compras FROM campanha WHERE total_compras > 35').show()

+--------------+--------+-------------+--------+-----------+-------------+
|ano_nascimento|educacao| estado_civil|   renda|dependentes|total_compras|
+--------------+--------+-------------+--------+-----------+-------------+
|          1979| Formado|       Casado|  2447.0|          1|           43|
|          1973|     PhD|       Casado|157243.0|          1|           37|
|          1967|  2 grau|União Estável| 67309.0|          2|           39|
|          1982|     PhD|       Casado|160803.0|          0|           44|
+--------------+--------+-------------+--------+-----------+-------------+

In [ ]:
#Consulta 5
#revela o que cada nivel educacional mais consome
spark.sql('SELECT educacao as Educacao,sum(vinhos) as Vinhos,sum(frutas) as Frutas,sum(carne) as Carnes,sum(peixe) as Peixes,sum(doces) as Doces,sum(produtos_premium) as Produtos_Premium FROM campanha GROUP BY educacao').show()

+--------+--------+-------+--------+-------+-------+----------------+
|Educacao|  Vinhos| Frutas|  Carnes| Peixes|  Doces|Produtos_Premium|
+--------+--------+-------+--------+-------+-------+----------------+
|     PhD|196585.0| 9744.0| 81941.0|12990.0| 9828.0|         15703.0|
| Formado|320371.0|34683.0|202284.0|48630.0|35351.0|         57307.0|
|  2 grau| 40231.0| 5878.0| 28675.0| 9639.0| 6953.0|          9419.0|
|  Basico|   391.0|  600.0|   618.0|  921.0|  654.0|          1233.0|
|Mestrado|123238.0| 8012.0| 60450.0|11877.0| 7835.0|         14947.0|
+--------+--------+-------+--------+-------+-------+----------------+

In [ ]:
#Consulta 6
# mostrando a quantidade vendida junto ao valor obtido e suas correspondentes medias

spark.sql('SELECT sum(total_compras) as Total_de_Compras, sum(produtos_valor) as Produtos_valor, avg(total_compras) as Medias_de_Compras, avg(produtos_valor) as Media_de_Valores FROM campanha').show()

+----------------+--------------+------------------+-----------------+
|Total_de_Compras|Produtos_valor| Medias_de_Compras| Media_de_Valores|
+----------------+--------------+------------------+-----------------+
|           33291|     1356988.0|14.862053571428572|605.7982142857143|
+----------------+--------------+------------------+-----------------+

### Consulta 7 

As compras online aumentariam se houvesse promoções para grandes familias, em geral promoções para familia trariam esse clientes

In [ ]:
#Os que possuem filhos são os que mais compram online, mesmo assim, os que tem mais de 3 filhos compram pouco
spark.sql('SELECT dependentes, SUM(compras_online) AS Total_Compras_Online FROM campanha GROUP BY dependentes ORDER BY dependentes').show()

+-----------+--------------------+
|dependentes|Total_Compras_Online|
+-----------+--------------------+
|          0|                2803|
|          1|                4834|
|          2|                1361|
|          3|                 152|
+-----------+--------------------+

In [ ]:
# Familias com mais de 3 dependentes preferem comprar em lojas e somente as promoções

spark.sql('SELECT dependentes,Sum(total_compras),Sum(ofertas_compras),Sum(compras_online),Sum(compras_catalogo),Sum(compras_lojas) FROM campanha WHERE dependentes = 3 GROUP BY dependentes').show()

+-----------+------------------+--------------------+-------------------+---------------------+------------------+
|dependentes|sum(total_compras)|sum(ofertas_compras)|sum(compras_online)|sum(compras_catalogo)|sum(compras_lojas)|
+-----------+------------------+--------------------+-------------------+---------------------+------------------+
|          3|               619|                 201|                152|                   56|               210|
+-----------+------------------+--------------------+-------------------+---------------------+------------------+

# **Exportando**

In [ ]:
df_spark.toPandas().to_csv('Campanha_marketing.csv',index=False)

## **Mongo**

In [ ]:
pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.2)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 5.1 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

In [ ]:
import pymongo
from pymongo import MongoClient

In [ ]:
client = pymongo.MongoClient("mongodb+srv://Kings:reis4109@cluster0.9jrfe.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

### Inserindo os dados tratados

In [ ]:
db = client['Projeto_individual']
collection=db['dados_tratados']

In [ ]:
#O Mongo não aceitou o formato datetime, como não convertemos tipos no Mongo retornei a data para string
#passo 1 conversão
df_spark=df_spark.toPandas()

In [ ]:
#Passo 2
df_spark['Data_compra']=df_spark['Data_compra'].astype(str)

In [ ]:
#convertendo DataFrame em dicionário

df_spark.reset_index(inplace=True)

data_dict = df_spark.to_dict("records")

In [ ]:
#Inserindo informações finalmente
collection.insert_many(data_dict)

### Inserindo dados brutos

In [ ]:
#Acessando a Database  (db) e a coleção
db = client['Projeto_individual']
collection=db['dados_brutos']

In [ ]:
#convertendo DataFrame em dicionário

df2.reset_index(inplace=True)

data_dict = df2.to_dict("records")

In [ ]:
#Inserindo informações finalmente
collection.insert_many(data_dict)